.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 10px;
    background-color: #fff;
    margin: 10px;

    &:hover {
        border: 1px solid #f38033;

    }
}

.attendeeList {
    list-style-type: none;

}

